*.html
_xmsgs
*.xrpt
iseconfig
webtalk_pn.xml
*.cmd_log
*.syr
tmp
_ngo
*.xml
*_run_?/
*.log
Tenyr.bld
Tenyr.cgc
Tenyr.ngc
Tenyr.ngd
Tenyr.ngr
Tenyr.stx
Tenyr.sym
Tenyr.tfi
*.gise
*.bgn
*.bit
*.drc
*.lpc
*.lso
*.ncd
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_bitgen.xwbt
*_guide.ncd
*_map.map
*_map.mrp
*_map.ngm
*_pad.csv
*_pad.txt
xst/
*.rpt
default.wcfg
auto_project.ipf
GenedBlockMem.mif
Top_isim_beh1.wdb
fuse.xmsgs
fuseRelaunch.cmd
impact.xsl
impact_impact.xwbt
pa.fromHdl.tcl
pa.fromNetlist.tcl
vga80x40.vhd
*.cmd
isim/
Decode_isim_translate1.wdb
Tenyr_cs.ngc
Tenyr_signalbrowser.ngo
Tenyr_signalbrowser.ver
Top_isim_translate1.wdb
__xps/bitinit.opt
__xps/edw2xtl_sav_globals.xsl
__xps/edw2xtl_sav_view.xsl
__xps/edw2xtl_sav_view_addr.xsl
__xps/edw2xtl_sav_view_busif.xsl
__xps/edw2xtl_sav_view_groups.xsl
__xps/edw2xtl_sav_view_port.xsl
__xps/ise/tenyr.xreport
__xps/ise/xmsgprops.lst
__xps/platgen.opt
__xps/simgen.opt
__xps/xplorer.opt
__xps/xpsxflow.opt
cs_icon_pro/coregen.cgc
cs_icon_pro/coregen.cgp
cs_icon_pro/generate_icon_pro.xco
cs_icon_pro/icon_pro.vhd
cs_icon_pro/icon_pro.vho
cs_icon_pro/icon_pro.xco
cs_icon_pro/icon_pro.xise
cs_icon_pro/icon_pro_flist.txt
cs_icon_pro/icon_pro_readme.txt
cs_icon_pro/icon_pro_xmdf.tcl
cs_ila_pro_0/coregen.cgc
cs_ila_pro_0/coregen.cgp
cs_ila_pro_0/generate_ila_pro_0.xco
cs_ila_pro_0/ila_pro_0.cdc
cs_ila_pro_0/ila_pro_0.vhd
cs_ila_pro_0/ila_pro_0.vho
cs_ila_pro_0/ila_pro_0.xco
cs_ila_pro_0/ila_pro_0.xise
cs_ila_pro_0/ila_pro_0_flist.txt
cs_ila_pro_0/ila_pro_0_readme.txt
cs_ila_pro_0/ila_pro_0_xmdf.tcl
data/tenyr.ucf
etc/fast_runtime.opt
etc/tenyr.filters
etc/tenyr.gui
fontrom.mif
icon_pro.ngc
ila_pro_0.ngc
ipcore_dir/clock_phasing.ejp
ipcore_dir/clock_phasing/clk_wiz_v3_3_readme.txt
ipcore_dir/clock_phasing/clock_phasing.ucf
ipcore_dir/clock_phasing/clock_phasing.xdc
ipcore_dir/clock_phasing/doc/clk_wiz_v3_3_readme.txt
ipcore_dir/clock_phasing/implement/implement.bat
ipcore_dir/clock_phasing/implement/implement.sh
ipcore_dir/clock_phasing/implement/planAhead_ise.bat
ipcore_dir/clock_phasing/implement/planAhead_ise.sh
ipcore_dir/clock_phasing/implement/planAhead_ise.tcl
ipcore_dir/clock_phasing/implement/planAhead_rdn.bat
ipcore_dir/clock_phasing/implement/planAhead_rdn.sh
ipcore_dir/clock_phasing/implement/planAhead_rdn.tcl
ipcore_dir/clock_phasing/implement/xst.scr
ipcore_dir/clock_phasing/simulation/functional/simcmds.tcl
ipcore_dir/clock_phasing/simulation/functional/simulate_isim.bat
ipcore_dir/clock_phasing/simulation/functional/simulate_isim.sh
ipcore_dir/clock_phasing/simulation/functional/simulate_mti.do
ipcore_dir/clock_phasing/simulation/functional/simulate_ncsim.sh
ipcore_dir/clock_phasing/simulation/functional/simulate_vcs.sh
ipcore_dir/clock_phasing/simulation/functional/ucli_commands.key
ipcore_dir/clock_phasing/simulation/functional/vcs_session.tcl
ipcore_dir/clock_phasing/simulation/functional/wave.do
ipcore_dir/clock_phasing/simulation/functional/wave.sv
ipcore_dir/clock_phasing/simulation/timing/sdf_cmd_file
ipcore_dir/clock_phasing/simulation/timing/simcmds.tcl
ipcore_dir/clock_phasing/simulation/timing/simulate_isim.sh
ipcore_dir/clock_phasing/simulation/timing/simulate_mti.do
ipcore_dir/clock_phasing/simulation/timing/simulate_ncsim.sh
ipcore_dir/clock_phasing/simulation/timing/simulate_vcs.sh
ipcore_dir/clock_phasing/simulation/timing/ucli_commands.key
ipcore_dir/clock_phasing/simulation/timing/vcs_session.tcl
ipcore_dir/clock_phasing/simulation/timing/wave.do
ipcore_dir/coregen.cgp
ipcore_dir/mult32x32/doc/mult_gen_v11_2_readme.txt
ipcore_dir/tenyr_mainclock.ejp
ipcore_dir/tenyr_mainclock/clk_wiz_v3_3_readme.txt
ipcore_dir/tenyr_mainclock/doc/clk_wiz_v3_3_readme.txt
ipcore_dir/tenyr_mainclock/implement/implement.bat
ipcore_dir/tenyr_mainclock/implement/implement.sh
ipcore_dir/tenyr_mainclock/implement/planAhead_ise.bat
ipcore_dir/tenyr_mainclock/implement/planAhead_ise.sh
ipcore_dir/tenyr_mainclock/implement/planAhead_ise.tcl
ipcore_dir/tenyr_mainclock/implement/planAhead_rdn.bat
ipcore_dir/tenyr_mainclock/implement/planAhead_rdn.sh
ipcore_dir/tenyr_mainclock/implement/planAhead_rdn.tcl
ipcore_dir/tenyr_mainclock/implement/xst.scr
ipcore_dir/tenyr_mainclock/simulation/functional/simcmds.tcl
ipcore_dir/tenyr_mainclock/simulation/functional/simulate_isim.bat
ipcore_dir/tenyr_mainclock/simulation/functional/simulate_isim.sh
ipcore_dir/tenyr_mainclock/simulation/functional/simulate_mti.do
ipcore_dir/tenyr_mainclock/simulation/functional/simulate_ncsim.sh
ipcore_dir/tenyr_mainclock/simulation/functional/simulate_vcs.sh
ipcore_dir/tenyr_mainclock/simulation/functional/ucli_commands.key
ipcore_dir/tenyr_mainclock/simulation/functional/vcs_session.tcl
ipcore_dir/tenyr_mainclock/simulation/functional/wave.do
ipcore_dir/tenyr_mainclock/simulation/functional/wave.sv
ipcore_dir/tenyr_mainclock/simulation/timing/sdf_cmd_file
ipcore_dir/tenyr_mainclock/simulation/timing/simcmds.tcl
ipcore_dir/tenyr_mainclock/simulation/timing/simulate_isim.sh
ipcore_dir/tenyr_mainclock/simulation/timing/simulate_mti.do
ipcore_dir/tenyr_mainclock/simulation/timing/simulate_ncsim.sh
ipcore_dir/tenyr_mainclock/simulation/timing/simulate_vcs.sh
ipcore_dir/tenyr_mainclock/simulation/timing/ucli_commands.key
ipcore_dir/tenyr_mainclock/simulation/timing/vcs_session.tcl
ipcore_dir/tenyr_mainclock/simulation/timing/wave.do
ipcore_dir/tenyr_mainclock/tenyr_mainclock.ucf
ipcore_dir/tenyr_mainclock/tenyr_mainclock.xdc
scr
tenyr.make
tenyr.mhs
tenyr.mss
tenyr.xmp
tenyr_incl.make
Top_isim_beh.wdb
ipcore_dir/coregen.cgc
xlnx_auto_0_xdb/cst.xbcd
xilinxsim.ini
*.wcfg
ipcore_dir/coregen_lock
*.bin
