*.html
_xmsgs
*.xrpt
iseconfig
webtalk_pn.xml
*.cmd_log
*.syr
tmp
_ngo
*.xml
*_run_?/
*.log
Tenyr.bld
Tenyr.cgc
Tenyr.ngc
Tenyr.ngd
Tenyr.ngr
Tenyr.stx
Tenyr.sym
Tenyr.tfi
*.gise
*.bgn
*.bit
*.drc
*.lpc
*.lso
*.ncd
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_bitgen.xwbt
*_guide.ncd
*_map.map
*_map.mrp
*_map.ngm
*_pad.csv
*_pad.txt
xst/
*.rpt
default.wcfg
auto_project.ipf
GenedBlockMem.mif
Top_isim_beh1.wdb
fuse.xmsgs
fuseRelaunch.cmd
impact.xsl
impact_impact.xwbt
pa.fromHdl.tcl
pa.fromNetlist.tcl
small.coe
vga80x40.vhd
*.cmd
isim/
