*.html
_xmsgs
*.xrpt
webtalk_pn.xml
*.cmd_log
*.syr
tmp
_ngo
*.xml
*_run_?/
*.log
*.bld
*.cgc
*.ngc
*.ngd
*.ngr
*.stx
*.sym
*.tfi
*.gise
*.bgn
*.bit
*.drc
*.lpc
*.lso
*.ncd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*_bitgen.xwbt
*_guide.ncd
*_map.map
*_map.mrp
*_map.ngm
*_pad.csv
*_pad.txt
*.rpt
default.wcfg
*_isim_beh1.wdb
fuse.xmsgs
fuseRelaunch.cmd
impact.xsl
impact_impact.xwbt
pa.fromHdl.tcl
pa.fromNetlist.tcl
*.cmd
isim/
Decode_isim_translate1.wdb
*_cs.ngc
*_signalbrowser.ngo
*_signalbrowser.ver
*_isim_translate1.wdb
__xps/bitinit.opt
__xps/edw2xtl_sav_globals.xsl
__xps/edw2xtl_sav_view.xsl
__xps/edw2xtl_sav_view_addr.xsl
__xps/edw2xtl_sav_view_busif.xsl
__xps/edw2xtl_sav_view_groups.xsl
__xps/edw2xtl_sav_view_port.xsl
__xps/ise/tenyr.xreport
__xps/ise/xmsgprops.lst
__xps/platgen.opt
__xps/simgen.opt
__xps/xplorer.opt
__xps/xpsxflow.opt
cs_icon_pro/coregen.cgc
cs_icon_pro/coregen.cgp
cs_icon_pro/generate_icon_pro.xco
cs_icon_pro/icon_pro.vhd
cs_icon_pro/icon_pro.vho
cs_icon_pro/icon_pro.xco
cs_icon_pro/icon_pro.xise
cs_icon_pro/icon_pro_flist.txt
cs_icon_pro/icon_pro_readme.txt
cs_icon_pro/icon_pro_xmdf.tcl
cs_ila_pro_0/coregen.cgc
cs_ila_pro_0/coregen.cgp
cs_ila_pro_0/generate_ila_pro_0.xco
cs_ila_pro_0/ila_pro_0.cdc
cs_ila_pro_0/ila_pro_0.vhd
cs_ila_pro_0/ila_pro_0.vho
cs_ila_pro_0/ila_pro_0.xco
cs_ila_pro_0/ila_pro_0.xise
cs_ila_pro_0/ila_pro_0_flist.txt
cs_ila_pro_0/ila_pro_0_readme.txt
cs_ila_pro_0/ila_pro_0_xmdf.tcl
data/tenyr.ucf
etc/fast_runtime.opt
etc/tenyr.filters
etc/tenyr.gui
icon_pro.ngc
ila_pro_0.ngc
scr
tenyr.make
tenyr.mhs
tenyr.mss
tenyr.xmp
tenyr_incl.make
*_isim_beh.wdb
xlnx_auto_0_xdb/cst.xbcd
xilinxsim.ini
*.wcfg
*.bin
*.svf
*.xsvf
*.wdb
*.psr
*.srp
xst/work/
gen/
*.md
netlist.lst
*.xdl
*_bd.bmm
baremetal.memh
iseconfig/*.xreport
iseconfig/xmsgs.tags
iseconfig/tenyr.projectmgr
bin/
