NET "clk" TNM = "clk";
NET "clk" LOC = V10;

NET "vga/clk_vga"   TNM = "vga_clk";
NET "core/clk"      TNM = "core_clk";
NET "core/exec/clk" TNM = "exec_clk";

TIMESPEC TS_core_clk = PERIOD "core_clk" 12 ns HIGH 50%;
TIMESPEC TS_vga_clk  = PERIOD "vga_clk"  40 ns HIGH 50%;

NET "halt[0]" LOC = T10;
NET "reset"   LOC = A8;

# False path specification
TIMESPEC "TS_00" = FROM "vga_clk"  TO "core_clk" TIG;
TIMESPEC "TS_01" = FROM "core_clk" TO "vga_clk"  TIG;
//TIMESPEC "TS_02" = FROM "core_clk" TO "exec_clk" TIG;
//TIMESPEC "TS_03" = FROM "exec_clk" TO "core_clk" TIG;

Net "irqs[2]" LOC = C4 | IOSTANDARD = LVCMOS33; # Bank = 0, pin name = IO_L1N_VREF, Sch name = BTNL
Net "irqs[3]" LOC = D9 | IOSTANDARD = LVCMOS33; # Bank = 0, pin name = IO_L34P_GCLK19, Sch name = BTNR
