[submodule "3rdparty/tinypp"]
	path = 3rdparty/tinypp
	url = https://github.com/kulp/tinypp.git
[submodule "3rdparty/lcc"]
	path = 3rdparty/lcc
	url = https://github.com/drh/lcc.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/kulp/tenyr.wiki.git
[submodule "3rdparty/asmjit"]
	path = 3rdparty/asmjit
	url = https://github.com/kulp/asmjit.git
[submodule "3rdparty/wb_intercon"]
	path = 3rdparty/wb_intercon
	url = git@github.com:kulp/wb_intercon.git
	branch = tenyr
