[submodule "wiki"]
    path = wiki
    url = https://github.com/kulp/tenyr.wiki.git
[submodule "3rdparty/wb_intercon"]
    path = 3rdparty/wb_intercon
    url = https://github.com/olofk/wb_intercon.git
[submodule "3rdparty/naive-tsearch"]
    path = 3rdparty/naive-tsearch
    url = https://github.com/kulp/naive-tsearch.git
[submodule "3rdparty/ulx3s"]
	path = 3rdparty/ulx3s
	url = https://github.com/emard/ulx3s.git
	shallow = true
