*.pdf
blk_mem_gen_v6_3_readme.txt
*.ngc
*.asy
*.mif
*.ncf
*.sym
*.v
*.veo
*.xise
gen_*.tcl
example_design/
edit_*.tcl
tenyr_clocks/
textram/
fontrom/
GenedBlockMem
*_flist.txt
*_xmdf.tcl
*.ejp
*.cgc
*.bld
*.ngd
*.ngr
*.stx
*.xbcd
