hdle_generate_Symbol.tcl
*.html
.*.ini
.recovery
*_tcr.dir/
tenyr/*_*.arearep
tenyr/automake.log
tenyr/backup
tenyr.ccl
tenyr/*_drc.log
tenyr/hdla_gen_hierarchy.html
tenyr/hdr_log
tenyr/*.htm
tenyr/*_*_lattice.synproj
tenyr/launch_synplify.tcl
tenyr/*_*.lpf
tenyr/*_*.lsedata
tenyr/*_lse.twr
*.lst
tenyr/*_*_map.asd
tenyr/*_*_map.cam
tenyr/message.xml
tenyr/MHZ_TABLE_NEW.log
tenyr/mmr_drc.log
tenyr/mmr_lse.twr
tenyr/mmr_prim.v
tenyr/*_*.mrp
tenyr/*_*_mrp.html
tenyr/*_*.ngd
tenyr/*_prim.v
tenyr/rpt_sidefile.log
tenyr/run_options.txt
tenyr/scratchproject.prs
tenyr/*.srr
tenyr/stdout.log
tenyr/*_*_summary.html
tenyr/synlog
tenyr/synlog.tcl
tenyr/*_syn.prj
tenyr/syntax.log
tenyr/synthesis.log
tenyr/synthesis_lse.html
tenyr/syntmp
tenyr/synwork
tenyr/.vdbs
