name: C-language CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  SDL: 1
  JIT: 1
  ICARUS: 1
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  build:
    strategy:
      matrix:
        os:
        - ubuntu-18.04
        - macos-10.15
        - macos-11
    runs-on: ${{ matrix.os }}
    steps:
    - if: runner.os == 'Linux'
      run: sudo apt-get update
    - if: runner.os == 'Linux'
      run: sudo apt-get install expect iverilog
    - if: runner.os == 'Linux' && env.SDL != 0
      run: sudo apt-get install libsdl2-dev libsdl2-image-dev
    - if: runner.os == 'macOS'
      run: |
        brew install bison expect icarus-verilog
        echo "/usr/local/opt/bison/bin" >> $GITHUB_PATH
    - if: runner.os == 'macOS' && env.SDL != 0
      run: brew install sdl2 sdl2_image
    - uses: actions/checkout@v2
      with:
        submodules: true
    - if: env.JIT != 0
      run: |
          ./scripts/build-lightning.sh 2.1.3 $HOME/local
          echo "C_INCLUDE_PATH=$HOME/local/include" >> $GITHUB_ENV
          echo "LIBRARY_PATH=$HOME/local/lib" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/local/lib" >> $GITHUB_ENV
    - name: make
      run: make -j
      timeout-minutes: 1
    - uses: actions/upload-artifact@v2
      with:
        path: cmake_build/
        name: builddir-${{ matrix.os }}
    - name: make check
      run: unbuffer make check
      timeout-minutes: 10

